# Importing Libraries

In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join

# File Dimensions

In [10]:
data_path = 'Data/'
onlyfiles = [f for f in listdir(data_path) if isfile(join(data_path, f))]
log_i = 0
file_i = 0

for file in onlyfiles:
    if file[:3] == 'LOG':
        log_i += 1
        print('log file ', log_i, ': ', file)
    else:
        file_i += 1
        print('non-log file ', file_i, ': ', file)
    print('it has: ', len(pd.read_csv(data_path + file, sep = ';', error_bad_lines = False)), 'lines')

non-log file  1 :  TABLE_CONVERSION.csv
it has:  580404 lines
non-log file  2 :  CLIENTS.csv
it has:  3125800 lines
log file  1 :  LOG_WEB_201710.csv
it has:  3301363 lines
log file  2 :  LOG_WEB_201711.csv
it has:  5055599 lines
non-log file  3 :  CMD.csv
it has:  7323227 lines
log file  3 :  LOG_WEB_201712.csv
it has:  4535451 lines
log file  4 :  LOG_WEB_201708.csv
it has:  2189118 lines
log file  5 :  LOG_WEB_201709.csv
it has:  2874217 lines
log file  6 :  LOG_WEB_201801.csv

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

it has:  8450825 lines
log file  7 :  LOG_WEB_201802.csv
it has:  6063362 lines
log file  8 :  LOG_WEB_201803.csv
it has:  2739719 lines

# LOG Exploration

In [32]:
data_201708 = pd.read_csv(data_path + 'LOG_WEB_201708.csv', sep=';')

In [25]:
data_201708.head()

,Unnamed: 0,VISITOR_ID,CONNECTED_SESSION,ID_SESSION,SESSION_START_DATE,EVENT_DATE,PAGES,GLOBAL_SOURCES,DEVICE_TYPE,DEVICE_MODEL,LOADINGS
0,0,381225,OUI,1,2017-08-08 00:02:06,2017-08-08 00:02:06,accueil,Liens Sponsorisés,Smartphone,NaN,1
1,1,563053,OUI,13,2017-08-08 00:01:32,2017-08-08 00:03:27,accueil,Accès Direct,Ordinateur,NaN,1
2,2,563053,OUI,13,2017-08-08 00:01:32,2017-08-08 00:22:04,accueil,Accès Direct,Ordinateur,NaN,1
3,3,706588,OUI,23,2017-08-08 00:01:29,2017-08-08 00:01:32,accueil,Accès Direct,Ordinateur,NaN,1
4,4,0,NON,27,2017-08-08 00:01:30,2017-08-08 00:14:08,accueil,Accès Direct,Ordinateur,NaN,1

## Meta Data

Unamed:0 - Python reading problem

VISITOR_ID - account_number, if not logged in = 0

CONNECTED_SESSION - T/F: logged in or not

ID_SESSION - Single connected session, if VISITOR_ID = 0 it is harder to interpret

SESSION_START_DATE - time user logged in

EVENT_DATE - Triggered by ???

PAGES - Site visited

GLOBAL_SOURCES - Where they came from

DEVICE_TYPE - PC/Table/ect.

DEVICE_MODEL - NaN/iPad/iPhone/

LOADINGS - Refreshed pages

## Dimensions

In [78]:
data_201708.ID_SESSION.value_counts()[:5]

1514    726
1110    635
1283    583
1754    495
3460    492
Name: ID_SESSION, dtype: int64

In [36]:
data_201708['PAGES'].value_counts()[0:5]

accueil                                          230039
mon panier                                       139957
evenement/jeu                                     99125
header::moteur de recherche::page de resultat     77569
ajout au panier                                   76506
Name: PAGES, dtype: int64

## Looking at SESSION 3460's visit

In [81]:
data_201708[data_201708.ID_SESSION == 3460].head()

,Unnamed: 0,VISITOR_ID,CONNECTED_SESSION,ID_SESSION,SESSION_START_DATE,EVENT_DATE,PAGES,GLOBAL_SOURCES,DEVICE_TYPE,DEVICE_MODEL,LOADINGS
25471,25471,0,NON,3460,2017-08-10 08:04:05,2017-08-10 08:04:05,accueil,Accès Direct,Ordinateur,NaN,1
25472,25472,0,NON,3460,2017-08-10 08:04:05,2017-08-10 08:05:23,accueil,Accès Direct,Ordinateur,NaN,1
25473,25473,0,NON,3460,2017-08-10 08:04:05,2017-08-10 08:07:36,accueil,Accès Direct,Ordinateur,NaN,1
25474,25474,0,NON,3460,2017-08-10 08:04:05,2017-08-10 08:08:11,accueil,Accès Direct,Ordinateur,NaN,1
25475,25475,0,NON,3460,2017-08-10 08:04:05,2017-08-10 08:08:30,accueil,Accès Direct,Ordinateur,NaN,1

We have promo codes that indicate if a client used a catalogue or not. 
We assume that the majority of promo code users are catalogue.

If we can establish the characteristics of catalogue users and define the population through a mathematical function. We can then use the same function for other clients to see if they are significantly different from the known catalogue users.

# CLIENTS exploration

In [99]:
clients = pd.read_csv(data_path + 'clients.csv', sep = ';')
clients = clients.loc[:, ~clients.columns.str.contains('^Unnamed')]

In [100]:
clients.head()

         CLIENT_NUMBER CREATION_DATE GENDER  BIRTH_YEAR ZIPCODE
0 -2863680653264308222    2002-12-05    Mme      1955.0   68440
1  6104579344417272025    2002-12-05    Mme         NaN   24100
2  7514073921117581737    2002-12-05    Mme      1945.0   39240
3 -8702883778531324523    2002-12-05    Mme         NaN   42290
4  6338712688710833090    2003-10-06    Mme      1934.0   13006

In [101]:
clients.GENDER.value_counts()

Mme              2714740
M                 286650
Mle               119070
Ste                 2142
MME                 1846
Non Renseigne        805
SOC                  545
ARU                    1
M.                     1
Name: GENDER, dtype: int64

In [102]:
clients.BIRTH_YEAR.value_counts().head()

1950.0    45857
1947.0    44576
1948.0    44021
1946.0    43073
1949.0    42527
Name: BIRTH_YEAR, dtype: int64

In [105]:
clients.ZIPCODE.value_counts().head()

75015    19140
75017    12012
75014    10872
92100    10516
75016    10409
Name: ZIPCODE, dtype: int64

# CMD exploration

In [66]:
cmd = pd.read_csv(data_path + 'CMD.csv', sep = ';')
cmd = cmd[cmd['ORDER_DATE'] >= '2017-08-01']

In [112]:
cmd[cmd['CVIC'] == True]['CLIENT_NUMBER'].value_counts()[:5]

-7419682324447063482    1872
-8029536810428513286    1801
-954373211562525170     1588
 6337010052583634555    1502
 5852995387889251410     972
Name: CLIENT_NUMBER, dtype: int64

In [113]:
cmd

,Unnamed: 0,CLIENT_NUMBER,ORDER_NUMBER,ORDER_DATE,ORDER_CHANNEL,PRE_TAX_AMOUNT,CVIC
1362250,1362250,5435290416568822262,3819077,2017-09-25,Internet,150.42,False
1362834,1362834,-5296242060213987227,3819700,2017-10-10,Internet,160.98,False
1364217,1364217,-8180903312463751979,3821163,2017-12-08,Internet,130.76,False
1364295,1364295,-5670522684245955297,3821248,2017-11-13,Telephone,166.21,True
1364964,1364964,-488144592496065622,3821979,2017-11-27,Internet,76.60,False
1364990,1364990,-8850319371092144317,3822007,2017-11-27,Telephone,143.33,False
1366807,1366807,-4357189758708045171,3823970,2018-01-07,Internet,236.41,False
1369690,1369690,-6217137733543822185,3827201,2018-02-22,Internet,168.82,False
5521433,5521433,-1034782245661405853,9662336,2017-10-03,Magasin,342.00,False
5521633,5521633,-1034782245661405853,9662552,2017-10-03,Magasin,517.66,False
5521951,5521951,-1034782245661405853,9662890,2017-10-03,Magasin,375.50,False
5545440,5545440,-1034782245661405853,9687500,2017-10-03,Magasin,39.50,False
5545673,5545673,-8854164579673353301,9687741,2017-10-03,Telephone,208.58,True
5678285,5678285,182429472606915944,9826708,2017-10-25,Magasin,320.00,False
5681119,5681119,-6301583318164595384,9829683,2017-08-10,Telephone,78.00,False
5683229,5683229,-4211949626186990548,9831843,2017-08-28,Courier,34.58,True
5683262,5683262,-4796941642389728946,9831876,2017-08-28,Courier,37.50,False
5687272,5687272,9199721140686297744,9836050,2017-08-30,Courier,25.58,True
5694798,5694798,-3966954162544393498,9844035,2017-08-01,Courier,81.50,True
5696234,5696234,-4521818393009589230,9845547,2017-10-19,Telephone,118.60,False
5703646,5703646,-5633375107149978249,9853623,2017-08-28,Courier,55.58,True
5708355,5708355,-4306528479088249045,9858568,2017-08-28,Courier,65.99,True
5724980,5724980,-8547787814913332207,9875882,2017-08-01,Courier,104.25,True
5734586,5734586,1078873686982598026,9886216,2017-08-26,Courier,80.17,False
5736408,5736408,-1578052838441566404,9888096,2017-08-17,Internet,307.84,False
5740065,5740065,6178554954431796655,9891946,2017-08-10,Telephone,34.66,True
5742487,5742487,-2061181773248468522,9894468,2017-08-17,Internet,240.25,False
5751093,5751093,1353962411275349141,9903394,2017-08-17,Courier,310.34,True
5756105,5756105,-3305553965821909389,9908631,2017-11-20,Courier,73.83,True
5756505,5756505,3727377308791791307,9909050,2017-08-17,Telephone,74.42,True
...,...,...,...,...,...,...,...
7323197,7323197,-2664275183770520518,0,2018-06-02,Magasin,15.17,True
7323198,7323198,1840262355745127939,0,2018-06-02,Magasin,30.00,True
7323199,7323199,5852995387889251410,0,2018-06-02,Magasin,32.00,False
7323200,7323200,-3559148053191785749,0,2018-06-02,Magasin,64.42,True
7323201,7323201,-2373689785489370246,0,2018-05-31,Magasin,30.33,True
7323202,7323202,-1376985781112113910,0,2018-05-31,Magasin,17.00,True
7323203,7323203,-6027237094940828284,0,2018-06-02,Magasin,173.83,True
7323204,7323204,5852995387889251410,0,2018-06-02,Magasin,27.50,False
7323205,7323205,5852995387889251410,0,2018-06-02,Magasin,60.00,True
7323206,7323206,9137066492344886197,0,2018-05-30,Magasin,102.08,True
7323207,7323207,3993066645467301849,0,2018-05-30,Magasin,83.58,True
7323208,7323208,-3808472416358214170,0,2018-05-30,Magasin,29.50,False
7323209,7323209,1717029349223190839,0,2018-06-01,Magasin,25.00,True
7323210,7323210,-2494697128676712649,0,2018-06-01,Magasin,51.33,True
7323211,7323211,-8032660814701878487,0,2018-05-29,Magasin,8.75,True
7323212,7323212,8361153282722448536,0,2018-05-29,Magasin,5.25,False
7323213,7323213,4398197642978628637,0,2018-06-05,Magasin,118.42,True
7323214,7323214,4398197642978628637,0,2018-06-05,Magasin,32.08,True
7323215,7323215,5161096476333046797,0,2018-06-05,Magasin,119.58,True
7323216,7323216,8876119092457692920,0,2018-06-05,Magasin,11.67,True
7323217,7323217,8361153282722448536,0,2018-06-01,Magasin,25.96,False
7323218,7323218,8361153282722448536,0,2018-06-01,Magasin,127.67,False
7323219,7323219,443999231107943249,0,2018-06-01,Magasin,121.25,True
7323220,7323220,-1410119013141445397,0,2018-06-01,Magasin,38.75,True
7323221,7323221,6383877082378181509,0,2018-06-01,Magasin,55.00,True
7323222,7323222,-1690539422819382561,0,2018-06-01,Magasin,34.50,True
7323223,7323223,7327257742893272356,0,2018-06-01,Magasin,61.25,True
7323224,7323224,8119002504325111061,0,2018-06-01,Magasin,115.00,True
7323225,7323225,-954373211562525170,0,2018-06-01,Magasin,51.92,True
7323226,7323226,-8029536810428513286,0,2018-06-01,Magasin,95.67,True